.jumbotron{
	background-color: primary;
	color: black;
	margin-top: 50px;
}

.navbar{
	background-color: #e3f2fd;
}

footer{
	padding: 10px 10px 0 10px;
	background-color: #e3f2fd;
	margin-bottom: 0px;
	margin-top: 20px;
}

.card-libros{
	flex: 1 150px;
	padding: 2px 5px 2px 5px;
	margin-top: 10px;
}

.btn-descarga{
	width: 100%;
}

.footer-address-icon{
	padding-right: 10px;
}

.download-icon{
	padding-left: 5px;
}